.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.successMessage {
    font-family: 'Oswald', sans-serif;
    font-family: 'Send Flowers', cursive;
    font-size: 120px;
    color: greenyellow;
    font-weight: bold;
}

.inline {
    display: inline-block;
}