@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.currentNavigation {
    text-decoration: underline;
}

.brandTitle {
    font-family: 'Oswald', sans-serif;
    font-family: 'Send Flowers', cursive;
    font-size: 30px;
}

.navbar {
    box-shadow: 0px 3px 5px #888888;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-family: 'Send Flowers', cursive;
    font-size: 80px;
}

.centerInformation {
    width: 95%;
    height: 30%;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.subtitle {
    font-family: 'Oswald', sans-serif;
    font-family: 'Send Flowers', cursive;
    font-size: 40px;
    text-decoration: underline;
}

.description {
    font-size: 20px;
    font-weight: bold;
}

a, p {
    color: #463973;
    display:block;
    font-size: 18px;
    font-weight: bold; 
}